<h1>Votre compte</h1>
@if (loading) {
<h2>Chargement ...</h2>
} @else {
<div class="user">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>
                    Infos personnelles
                    @if (!user.isActive) {
                    <br>
                    <span>Vérifier vos mail pour valider votre compte*</span>

                    }
                </h2>
            </mat-card-title>
            <mat-card-subtitle>
                <div class="info-perso">
                    <p>Nom : {{user.firstName}}</p>
                    <p>Prénom : {{user.lastName}}</p>
                    <p>Email : {{user.email}}</p>
                    <p>Téléphone : {{user.phoneNumber}}</p>
                    <button routerLink="/user/edit/{{user.userId}}"
                        mat-icon-button><mat-icon>mode_edit</mat-icon></button>
                </div>
                <hr>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>Adresses</h3>

            @if (user.adresses.length <= 0) { <p>Aucune</p>
                <button (click)="openModal()" mat-icon-button><mat-icon>add_box</mat-icon></button>


                } @else {
                <mat-list>
                    @for (adress of user.adresses; track $index) {
                    <mat-list-item>
                        <div matListItemTitle>{{adress.cityName}}</div>
                            <button mat-icon-button><mat-icon>mode_edit</mat-icon></button>
                            <div class="adress-display" matListItemLine>{{adress.number}} {{adress.street}} {{adress.country}}
                                 <button routerLink="/user/edit/adress/{{adress.adressId}}" mat-icon-button><mat-icon>mode_edit</mat-icon></button>
                                 <button (click)="delete(adress.adressId)" class="btn-delete" mat-icon-button><mat-icon  class="delete" >delete_forever</mat-icon></button> 
                            </div>

                

                    </mat-list-item>
                    }
                </mat-list>
                <button (click)="openModal()" mat-icon-button><mat-icon>add_box</mat-icon></button>
                <hr>
                }
                <h3>Vos commandes</h3>
                <button (click)="getOrders()" mat-raised-button color="primary">{{orderDisplay ? "Masquer" :
                    "Afficher"}}</button>
                @if (orderDisplay) {
                @if (!order && orderDisplay) {
                <p>Aucune commande</p>
                } @else {
                <mat-list>
                    @for (order of order; track $index) {
                    <app-expansion [order]="order"></app-expansion>
                    <br>
                    }
                </mat-list>
                }
                }
        </mat-card-content>

    </mat-card>
</div>

}