.user {
    max-width: 70%;
    margin: auto;

}


.info-perso {
    margin-top: 15px;
}

.adress-icon {
    transform: scale(1.5);
    padding-top: 9px;
}
mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

mat-list-item:hover {
    cursor: pointer;
    border: 1px solid black;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-subtitle > p, button {
    // margin-top: -10px;
}


h3, h2, p {
    text-align: center;
}

span {
    color: red;
    font-size: 0.5em;
    text-align: center;
}

.adress {
    display: flex;
    align-items: center;
    justify-content: center;
}

