<h1>Détails</h1>

@if (!product) {
    <p>Chargement</p>
} @else {
    <button (click)="back()" class="back" mat-raised-button color="primary">Retour</button>
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar [class]="product.brand"></div>
          <mat-card-title>{{product.modelName}}</mat-card-title>
          <mat-card-subtitle>{{product.brand | uppercase}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imageUrl + '/' + product.image" alt="photo du produit">
        <mat-card-content>
          <p>{{product.description}}</p>
          <p [class]="product.discount > 0 ? 'on-discount' : ''">{{product.price | currency: 'EUR'}}</p>
          @if (product.discount > 0) {
            <p class="discount">-{{product.discount | discount}}%</p>
            <p> {{product.price - (product.price*product.discount) | currency: 'EUR'}}</p>
          }
          <button [disabled]="!selectedSize" (click)="addToCart()" mat-raised-button>Ajouter au panier</button>


          <mat-tab-group>
            <mat-tab label="Catégories">
                @if (product.categories.length > 0) {
                    @for (category of product.categories; track $index) {
                        <p>{{category.categoryName}}</p>
                    }

                } @else {
                    <p>Aucune catégorie</p>
                }

            </mat-tab>
            <mat-tab label="Tailles disponibles">
                @if (product.sizes.length > 0) {
                    <mat-radio-group (change)="handleSize($event)" aria-label="Select an option">
                    @for (size of product.sizes; track size.sizeId) {
                            <mat-radio-button *ngIf="size.stock > 0" [value]="size.sizeId">{{size.size}}</mat-radio-button>
                        }
                    </mat-radio-group>

                } @else {
                    <p>Aucune taille disponible</p>
                }
            </mat-tab>
          </mat-tab-group>
    
        </mat-card-content>
      </mat-card>
    

}