.card {
    width: 50%;
    margin: auto;
}

.discount {
    color: red;
    text-decoration: none;
}

mat-tab-group {
    text-align: center;
}
mat-tab {
    text-align: center !important;
}

.mat-mdc-tab-body-content {
    
    overflow: hidden !important;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.back {
    width: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}