<h1>Entrez votre email</h1>

<section class="reset-password">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
        @if (email.invalid) {
        <mat-error>Veuillez rentrer un email valide</mat-error>
        }
    </mat-form-field>

    <div class="button">
        <button mat-flat-button color="primary" (click)="handleSubmit()">Envoyer</button>
    </div>


</section>


