.user {
    max-width: 70%;
    margin: auto;

}

.info-perso {
    margin-top: 15px;
}
mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-subtitle > p, button {
    margin-top: -10px;
}


h3, p {
    text-align: center;
}