.cart {
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 20;
    background: white;
    overflow-y: scroll;
    box-shadow: -18px 2px 44px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -18px 2px 44px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -18px 2px 44px -5px rgba(0, 0, 0, 0.75);
}

h3 {
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
}

.card {
    max-width: 70%;
    margin: 15px auto;

  }

  button.hide {
    transform: rotate(180deg);
    margin: auto;
    display: flex;
    align-items: center;
  }


  .mat-mdc-raised-button > .mat-icon {
    margin-left: 5px;
  }

  .total-price {
    font-size: 2em;
    text-align: center;
  }