<h1>Détails du produit</h1>
<section class="product-details">
    @if (!product) {
        <p>Chargement</p>
    } @else {
        <button (click)="back()" class="back" mat-raised-button color="primary">Retour</button>
        
            <mat-card class="card">
                <mat-card-header class="header-container">
                        <div mat-card-avatar [class]="product.brand"></div>
                        <mat-card-title>{{product.modelName}}</mat-card-title>
                      <mat-card-subtitle>  {{product.brand | uppercase}} </mat-card-subtitle>
    
                      <button class="btn-edit" (click)="edit()"  mat-mini-fab color="primary" ><mat-icon>mode_edit</mat-icon></button>
                </mat-card-header>
                <img mat-card-image [src]="imageUrl + '/' + product.image" alt="photo du produit">
                <mat-card-content>
                  <p>{{product.description}}</p>
                  <p [class]="product.discount > 0 ? 'on-discount' : ''">{{product.price | currency: 'EUR'}}</p>
                  @if (product.discount > 0) {
                    <p class="discount">-{{product.discount | discount}}%</p>
                    <p> {{product.price - (product.price*product.discount) | currency: 'EUR'}}</p>
                  }
                 
                  <mat-tab-group>
                    <mat-tab label="Catégories">
                        @if (product.categories.length > 0) {
                            @for (category of product.categories; track $index) {
                                <div class="category-display">
                                    <p>{{category.categoryName}}</p>
                                    <button class="btn-delete" mat-icon-button><mat-icon  class="delete" >delete_forever</mat-icon></button> 

                                </div>
                            }
                    
                        } @else {
                            <p>Aucune catégorie</p>
                        }
                        <button (click)="openAddCategory()" mat-raised-button color="primary">Ajouter</button>
                        <div *ngIf="isCategoryFormOpen" class="category-form">
                            <mat-form-field>
                              <mat-label>Catégories</mat-label>
                              <mat-select [formControl]="categoryForm" multiple >
                                @for (category of categories; track category) {
                                  <mat-option [value]="category.categoryId">{{category.categoryName}}</mat-option>
                                }
                              </mat-select>
                            </mat-form-field>
                            <button mat-button (click)="handleCategories()">Valider</button>
                        </div>
        
                    </mat-tab>
                    <mat-tab label="Tailles disponibles">
                        @if (product.sizes.length > 0) {
                            @for (size of product.sizes; track size.sizeId) {
                                <div class="size-display">
                                    <p>Taille {{size.size}} - Stock : {{size.stock}}</p>
                                    <button class="btn-delete" mat-icon-button><mat-icon  class="delete" >delete_forever</mat-icon></button> 
                                    <button (click)="openUpdateStockModal(size.sizeId)" class="btn-delete" mat-icon-button><mat-icon  class="delete" >arrow_upward</mat-icon></button> 

                                </div>
                                }
                        } @else {
                            <p>Aucune taille disponible</p>
                        }
                        <button (click)="openAddSize()" mat-raised-button color="primary">Ajouter</button>
                        <div *ngIf="isSizeFormOpen" >
                            <form [formGroup]="sizeForm" class="size-form">
                                <mat-form-field>
                                  <mat-label>Taille</mat-label>
                                  <mat-select formControlName="sizeId">
                                    @for (size of sizes; track size) {
                                      <mat-option [value]="size.sizeId">{{size.size}}</mat-option>
                                    }
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Quantité</mat-label>
                                        <input formControlName="stock" type="number" matInput>
                                  </mat-form-field>
                                <button mat-button (click)="handleSize()">Valider</button>
                            
                            </form>
                        </div>
                        
                    </mat-tab>
                </mat-tab-group>
                
                @if (alertMessage) {
                    <p class="alert">{{alertMessage}}</p>
                }
            </mat-card-content>
              </mat-card>
    }
</section>