.card {
    width: 50%;
    margin: auto;
}

.discount {
    color: red;
    text-decoration: none;
}

mat-tab-group {
    text-align: center;
}
mat-tab {
    text-align: center !important;
}

.mat-mdc-tab-body-content {
    
    overflow: hidden !important;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    margin-bottom: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-edit {
    margin-left: auto;
}

.nike {
    background-image: url('../../../assets/nike.jpg');
    background-size: cover;
  }

  .Puma {
    background-image: url('../../../assets/puma.jpg');
    background-size: cover;
  }


.class {
    overflow-y: hidden !important;
}

.category-form, .size-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-display, .size-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.alert {
    color: red;
    text-align: center;
}

.file-input {
    display: none;
  }

  .file-upload {
    margin: 5px auto;
  }

  .success {
    color: green;
    text-align: center;
  }

  .alert {
    color: red;
    text-align: center;
  }