<!-- <div class="btn-selection">
    <button mat-raised-button>Acceuil</button>
    <button mat-raised-button>Utilisateurs</button>
    <button mat-raised-button>Produits</button>
</div> -->
<h1>Gestion</h1>
<mat-grid-list cols="3" >
    <mat-grid-tile>
        <button routerLink="/" mat-raised-button color="primary">Acceuil</button>
   
    </mat-grid-tile>
    <mat-grid-tile>
      
        <button routerLink="user" mat-raised-button color="warn">Utilisateurs</button>
     
    </mat-grid-tile>
    <mat-grid-tile>
    
        <button routerLink="product" mat-raised-button color="accent">Produits</button>
    </mat-grid-tile>
  </mat-grid-list>

  <router-outlet></router-outlet>