<mat-sidenav-container>

	<mat-sidenav [(opened)]="isOpen" #sidenav mode="over">
		<label>My Shoes</label> 
    <hr/>   
		<nav>
			<a routerLink="home"      (click)="clickHandler()" routerLinkActive="active">Acceuil</a>
			<a routerLink="about"     (click)="clickHandler()" routerLinkActive="active">Produit</a>
			<a (click)="clickHandlerLogin()" routerLinkActive="active">Se connecter</a>
			<a routerLink="sign-up"   (click)="clickHandler()" routerLinkActive="active">Créer un compte</a>
			<a routerLink="contact"   (click)="clickHandler()" routerLinkActive="active">À propos</a>
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<header>
				<mat-icon (click)="toggleMenu()">menu</mat-icon>
				<label>My Shoes</label>        
        <nav>
          <a routerLink="/home" routerLinkActive="active">Acceuil</a>
          <a routerLink="about" routerLinkActive="active">Produit</a>
          <a (click)="openModal()" routerLinkActive="active">Se connecter</a>
          <a routerLink="sign-up" routerLinkActive="active">Créer un compte</a>
          <a routerLink="contact" routerLinkActive="active">À propos</a>
        </nav>        
      </header>
		</mat-toolbar>
    <section>
      
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
