<mat-drawer-container  class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <app-filter></app-filter>
  </mat-drawer>
  <mat-drawer-content>
    <h1>Tous les produits</h1>
    <button class="filter" mat-raised-button (click)="drawer.toggle()">Filtre</button>
      <section class="article">
      @for (product of products; track $index) {
        <app-product-display [product]="product" />
            }
          </section>
    <button class="btn" mat-raised-button (click)="addMore()">Voir plus</button>
  </mat-drawer-content>
</mat-drawer-container>
  

