
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-labo-primary: mat.define-palette(mat.$indigo-palette);
$angular-labo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-labo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-labo-theme: mat.define-light-theme((
  color: (
    primary: $angular-labo-primary,
    accent: $angular-labo-accent,
    warn: $angular-labo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-labo-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}

.mat-drawer-container {
  z-index: 10;
}

// .mat-sidenav-container  {
//   // height: 100vh;
// }

.mat-sidenav-container .mat-sidenav {
  background-color: #3f51b5;
  padding: 10px;
  min-width: 150px;
  position: fixed;
}

.mat-sidenav-container .mat-sidenav label {
  color: white;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.mat-sidenav-container .mat-sidenav nav  {
  margin-top: 15px;
}

.mat-sidenav-container .mat-sidenav nav a {
  display: block;
  outline: 0px;
  margin: 5px 0px;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}
.mat-sidenav-container .mat-sidenav nav a:hover {
  color: yellow;
}
.mat-sidenav-container .mat-sidenav nav a.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar {
  height: 40px;
  padding: 0px;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav a {
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav a:hover {
  color: rgb(6, 4, 39);
}
.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav a.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1023px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar {
    padding-right: 10px;
    padding-left: 5px;
  }  
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
    display: block;
    cursor: pointer;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav {
    display: none;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
    max-width: 97%;
    margin: 0 auto;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    max-width: 100%;
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
}


@font-face {
  font-family: 'title';
  src: url('./Fonts/SansSerifExbFLFCond.otf');
  font-weight: normal;
  font-style: normal;
  }

