
.product-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reduction {
    color: red;
}

// mat-expansion-panel-header {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }