<h1>Nouveau mot de passe</h1>

<section class="reset-password-confirm">
    <mat-form-field class="example-full-width">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput [formControl]="password" placeholder="Password">
        @if (password.invalid) {
        <mat-error>Veuillez rentrer un mot de passe valide</mat-error>
        }
    </mat-form-field>

    <div class="button">
        <button mat-flat-button color="primary" (click)="handleSubmit()">Envoyer</button>
    </div>


</section>
